.announcement-bar {
  background-color: rgb(50, 45, 45);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px;
  border-bottom-left-radius: 4.05px;
  border-bottom-right-radius: 4.05px;
}

.announcement-btn {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: default;
  text-transform: uppercase;
}

